body {
    background-image: url("background.png");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Styling for the entire webpage */
body {
    font-family: Arial, Helvetica, sans-serif;
    /* Set the font family for the entire page */
    text-align: center;
    /* Center-align text within the body */
    background-color: #ffffff;
    /* Light gray background */
    color: #ffffff;
    /* Dark gray text color */
}

/* Styling for images representing dealer's cards */
#dealer-cards img,
/* Styling for images representing player's cards */
#your-cards img {
    height: 175px;
    /* Set the height of card images */
    width: 125px;
    /* Set the width of card images */
    margin: 1px;
    /* Set margin around card images */
}

/* Styling for hit and stay buttons */
#hit,
#stay {
    width: 100px;
    /* Set the width of buttons */
    height: 50px;
    /* Set the height of buttons */
    font-size: 20px;
    /* Set font size of button text */
    background-color: #0f1821;
    /* Blue button background color */
    color: #fff;
    /* White button text color */
    border: none;
    /* Remove border around buttons */
    border-radius: 5px;
    /* Set border radius for rounded corners */
    margin: 5px;
    /* Set margin around buttons */
}
